<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>When adding grades and weights, you must use decimals rather than percentages.</p>
  <div class="field">
    <%= f.label :assignment_name %><br>
    <%= f.text_field :assignment_name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :assigned_at %><br>
    <%= f.datetime_select :assigned_at %>
  </div>
  <div class="field">
    <%= f.label :due_at %><br>
    <%= f.datetime_select :due_at %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.select :course_id, options_for_select(Course.all.map{|c| [c.course_name, c.id]}) %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.select :student_id, options_for_select(Student.all.map{|s| [s.first_name, s.last_name, s.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
