<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Assignment name</th>
      <th>Grade</th>
      <th>Weight</th>
      <th>Assigned at</th>
      <th>Due at</th>
      <th>Course</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.assignment_name %></td>
        <td><%= assignment.grade %></td>
        <td><%= assignment.weight %></td>
        <td><%= assignment.assigned_at %></td>
        <td><%= assignment.due_at %></td>
        <td><%= assignment.course_id %></td>
        <td><%= assignment.student_id %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
