<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment name:</strong>
  <%= @assignment.assignment_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= number_with_precision(@assignment.grade, precision: 2) %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @assignment.weight %>
</p>

<p>
  <strong>Assigned at:</strong>
  <%= @assignment.assigned_at %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @assignment.due_at %>
</p>

<p>
  <strong>Course:</strong>
  <%= @assignment.course.course_name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @assignment.student.first_name + " " + @assignment.student.last_name %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
