<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_name %><br>
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.radio_button :semester, "Summer" %>
    <%= f.label :semester, "Summer", value: "Summer" %><br>
    <%= f.radio_button :semester, "Fall" %>
    <%= f.label :semester, "Fall", value: "Fall" %><br>
    <%= f.radio_button :semester, "Winter" %>
    <%= f.label :semester, "Winter", value: "Winter" %><br>
    <%= f.radio_button :semester, "Spring" %>
    <%= f.label :semester, "Spring", value: "Spring" %><br>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.date_select :year, { discard_month: true, discard_day: true, start_year: Time.now.year } %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
