<%= form_for(@course_registration) do |f| %>
  <% if @course_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_registration.errors.count, "error") %> prohibited this course_registration from being saved:</h2>

      <ul>
      <% @course_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Student<br>
    <%= @course_registration.student.first_name + " " + @course_registration.student.last_name %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.select :student_id, options_for_select(Student.all.map{|s|[s.first_name, s.last_name, s.id]}) %>
  </div>
  <div class="field">
    Course<br>
    <%= @course_registration.course.course_name %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.select :course_id, options_for_select(Course.all.map{|c|[c.course_name, c.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
